bin/
obj/
.env
WebProductos.Api/appsettings.json

.vs/
.vscode/
.idea/
*.user


*.log


Thumbs.db
.DS_Store

.appsettings.json
appsettings.json
.InmobiliaryMgmt.Api\appsettings.json
InmobiliaryMgmt.Api\appsettings.json